{% extends "users/base.html" %}
{% block title %} Домашняя страница {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Добро пожаловать, {{user.first_name.title|default:'новый пользователь'}}</h1>
        <p class="lead">
            Это <b> Веб приложение для анализа финансовых данных</b>
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% ' %}" role="button">Выход из системы</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Войти</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}